/******************************************
*  Author : Author   
*  Created On : Sat Nov 17 2018
*  File : style.css
*******************************************/
body{
    font-family: sans-serif;
}
.stato{
    display: none;
    background: whitesmoke;
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

/*HOME */
.stato#stato-home{
    display: block;
}
.stato#stato-home .button{    
    margin-top: 60%;
}
/*FINEHOME */

/*GARA */
.stato#stato-gara{

}
/*FINE GARA */

#titolo{
    background: black;
    position: fixed;
    left:0;
    right:0;
    top:0;
    height:60px;
    text-align: center;
}

#titolo h1{
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold; 
}

.button {
    background: grey;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}